{% extends "base.html" %}

{% block contents %}


<div class = "container" style="padding: 215px 150px 150px 210px">
	<h1>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspPick me , Pick me</h1>
	<br>
	<br>
	<br>
	<br>


	<button type="button" class="btm_image" id="img_btn" onclick="location.href='{% url 'Manhome' %}'"><img src="https://upload.wikimedia.org/wikipedia/commons/0/0a/Kang_Daniel_at_Wanna_One_Premiere_Show_Concert_in_August_2017_04.png" width="330px" height="330px"border="0" ></button>
	&nbsp&nbsp&nbsp&nbsp
	&nbsp&nbsp&nbsp&nbsp
	&nbsp&nbsp&nbsp&nbsp

	<button type="button" class="btm_image" id="img_btn" onclick="location.href='{% url 'Womenhome' %}'"><img src="https://upload.wikimedia.org/wikipedia/commons/c/c2/180717_%EC%97%B4%EB%A6%B0%EC%9D%8C%EC%95%85%ED%9A%8C_%ED%8A%B8%EC%99%80%EC%9D%B4%EC%8A%A4_%282%29.jpg" width="330px" height="330px" border="0" ></button>




	
	</form>
</div>
{% endblock %}